---
layout: default
---

<div class="home">
  <div>
    <h1 class="mb0 font-s-2">{{ site.title }}</h1>
    <h2 class="mt0 font-s-1 text-grey">{{- site.description | escape -}}</h2>
  </div>
  <h2 id="featured-articles">Featured articles</h2>
  <ul>
		<li><a href="./article/awesome-apps.html">Awesome Apps</a>: my collection of awesome computer software: RSSHub, Xournalpp, Tauon Music Box, VSCodium, GNU Octave</li>
		<li><a href="./book/freedesktop/index.html">Freedesktop</a>: Some notes about the libre freedesktop platfrom, often mistakenly called "linux desktop"</li>
	</ul>
  <div class="note info">For articles written in Chinese (Simplified) see <a href="./index_zh-CN.html">index_zh-CN.html</a></div>
  {%- if site.posts.size > 0 -%}
  <ul class="ml0 list-none">
    {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  
      {% if forloop.first %}
      <li>
      <h2 id="{{ this_year }}-ref" class="font-s-1-5 mb0">{{this_year}}</h2>
      </li>
      <li>
      <ul>
      {% endif %}
      {% assign post_lang = post.lang | default: site.lang | default: "en" %}
      {% assign post_lang_2 = post_lang | slice: 0, 2 %}
      {% if post_lang_2 == "en" %}
      <li class="li-post">
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta text-grey inline-block">
            {{ post.date | date: date_format }}
          </span>
          <a class="post-link-layout inline font-700 text-tcolor" href="{{ post.url | prepend: "." }}">
            {{ post.title | escape }}
          </a>
	  {% if site.show_excerpts %}
	  {{ post.excerpt }}
	  {% endif %}
      </li>
      {% endif %}
      {% if forloop.last %}
      </ul>
      </li>
      {% else %}
          {% if this_year != next_year %}
          </ul>
	  </li>
      <li>
          <h2 id="{{ next_year }}-ref" class="font-s-1-5 mt0 mb0">{{next_year}}</h2>
      </li>
	  <li>
          <ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {%- endif -%}
</div>
