---
layout: default
lang: zh-CN
---

<div>
  <div>
    <h1>中文文章</h1>
  </div>
  <div class="note info">英文写的文章见 <a href="./index.html">index.html</a></div>
  {%- if site.posts.size > 0 -%}
  <ul class="ml0 list-none">
    {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  
      {% if forloop.first %}
      <li>
      <h2 id="{{ this_year }}-ref" class="font-s-1-5 mb0">{{this_year}}</h2>
      </li>
      <li>
      <ul>
      {% endif %}
      {% assign post_lang = post.lang | default: site.lang | default: "en" %}
      {% assign post_lang_2 = post_lang | slice: 0, 2 %}
      {% if post_lang_2 == "zh" %}
      <li class="li-post">
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta inline-block">
            {{ post.date | date: date_format }}
          </span>
          <a class="post-link-layout inline font-700 text-tcolor" href="{{ post.url | prepend: "." }}">
            {{ post.title | escape }}
          </a>
	  {% if site.show_excerpts %}
	  {{ post.excerpt }}
	  {% endif %}
      </li>
      {% endif %}
      {% if forloop.last %}
      </ul>
      </li>
      {% else %}
          {% if this_year != next_year %}
          </ul>
	  </li>
      <li>
          <h2 id="{{ next_year }}-ref" class="font-s-1-5 mt0 mb0">{{next_year}}</h2>
      </li>
	  <li>
          <ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {%- endif -%}
</div>
