/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
	font-size: $root-small-font-size;
	@media (min-width: $on-medium) {
		font-size: $root-font-size;
	}
}

/**
  * Basic styling
  */
body {
	/* IE9-10 doesn't recognize rem in font shorthand */
	font-weight: 400;
	font-size: $small-font-size;
	line-height: $small-line-height;
	font-family: $base-font-family;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;

  @media (min-width: $on-medium) {
	font-weight: 400;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
  }
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
	margin-bottom: $small-font-size;
	@media (min-width: $on-large) {
		margin-bottom: $base-font-size;
	}
}

/**
  * `main` element
  */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  padding: 0 $spacing-unit / 2 $spacing-unit / 2 $spacing-unit / 2;
  @media (min-width: $on-large) {
	  padding: 0 $spacing-unit $spacing-unit $spacing-unit;
  }
}

/**
  * Divider
  */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  background: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
}
/**
  * Images
  */
img {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  max-width: 100%;
  vertical-align: middle;
}

/**
  * Figures
  */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
  * Lists
  */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-weight: 700;
}
main h1 {
  line-height: 1.3;
  font-weight: 900;
  @include relative-font-size(1.5);

  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.75);
  }
}
main {
  h2 {
    @include relative-font-size(1.5);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.5);
    }
  }

  h4 {
    @include relative-font-size(1.125);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }
}

/**
  * Links
  */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
  * Blockquotes
  */
blockquote {
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);

@media (max-width: $on-medium) {
  @include relative-font-size(0.8);
}
  > :last-child {
    margin-bottom: 0;
  }
}
blockquote p {
	white-space: pre-line;
}

/**
  * Code formatting
  */
pre,
code {
  @include relative-font-size(0.85);
	@media (max-width: $on-medium) {
		@include relative-font-size(0.75);
	}
}

code {
  padding: 1px 1px;
}

pre {
  padding: 2px 2px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
  * Wrapper
  */
.wrapper {
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: minmax(25%,75%) minmax(75%,25%);
  }
}

/**
  * nav: Table of Content
  */
.wrapper .nav-toc {
	padding-left: $spacing-unit / 2;
	@media screen and (min-width: $on-large) {
		padding-left: $spacing-unit;
		grid-column: 1/2;
	}
}

/**
  * Main
  */
.wrapper main {
	@media screen and (min-width: $on-large) {
		grid-column: 2/3;
	}
}

/**
  * Clearfix
  */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
  * Icons
  */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

/**
  * Tables
  */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
}

/**
  * <fieldset>
  */
fieldset {
	border: 0;
	padding: 0;
}
fieldset p, fieldset code {
  margin: 0;
}
fieldset p {
  display: inline;
}
fieldset code {
  display: none;
}
legend {
  font-size: larger;
}
