/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
  * Basic styling
  */
body {
	/* IE9-10 doesn't recognize rem in font shorthand */
	font-weight: $base-font-weight;
	font-size: $small-font-size;
	line-height: $small-line-height;
	font-family: $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;

  @media (min-width: $on-medium) {
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
  }
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

/**
  * `main` element
  */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  padding: 0 $spacing-unit / 2 $spacing-unit / 2 $spacing-unit / 2;
  @media (min-width: $on-large) {
	  padding: 0 $spacing-unit $spacing-unit $spacing-unit;
  }
}

/**
  * Divider
  */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  background: linear-gradient(
    left,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
}

/**
  * Images
  */
img {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  background-color: lighten($grey-color-light, 3%);
  max-width: 100%;
  vertical-align: middle;
}

/**
  * Figures
  */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
  * Lists
  */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

/**
  * Links
  */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
  * Blockquotes
  */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1);

@media (max-width: $on-medium) {
  @include relative-font-size(0.8);
}

  > :last-child {
    margin-bottom: 0;
  }
}

/**
  * Code formatting
  */
pre,
code {
  @include relative-font-size(0.9);
  border: 2px solid darken($grey-color-light, 3%);
}

code {
  padding: 1px 1px;
}

pre {
  padding: 2px 2px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
  * Wrapper
  */
.wrapper {
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
	display: grid;
	grid-template-rows: max-content 1fr;
	grid-template-columns: minmax(25%,75%) minmax(75%,25%);
  }
}

/**
  * Aside: Table of Content
  */
.wrapper .aside-toc {
	padding-left: $spacing-unit / 2;
	@media screen and (min-width: $on-large) {
		padding-left: $spacing-unit;
		grid-column: 1/2;
	}
}

/**
  * Main
  */
.wrapper .main-content {
	@media screen and (min-width: $on-large) {
		grid-column: 2/3;
	}
}

/**
  * Clearfix
  */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
  * Icons
  */

.orange {
  color: $orange-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

/**
  * Tables
  */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

/**
  * <fieldset>
  */
fieldset {
	border-width: thin;
	border-color: black;
}
fieldset p, fieldset code {
  margin: 0;
  color: #5f6368; /* __hardcode__ rgb(95, 99, 104), copied from chrome://flags */
}
fieldset p {
  display: inline;
}
fieldset code {
  display: none;
}
label {
  font-weight: bolder;
}
legend {
  font-weight: bolder;
  font-size: larger;
  background-color: #e1f0f0; /* __hardcode__ hsv(180, 6%, 94%) */
}
