@import "commondef";
@import "lightdef";
/**
  * Basic styling
  */
body {
	color: $text-color;
	background-color: $background-color;
}
/**
  * Images
  */
img {
	background-color: lighten($grey-color-light, 3%);
}
/**
  * Links
  */
a {
	color: $brand-color;
}
/**
  * Blockquotes
  */
blockquote {
	color: darken($grey-color, 7%);
	border-left-color: $grey-color-light;
}
/**
 * Code formatting
 */
pre,
code {
	border-color: $grey-color-light;
}
/**
 * Tables
 */
table {
	tr {
		&:nth-child(even) {
			background-color: $background-color;
		}
	}
	th {
		background-color: $background-color;
		border-color: $grey-color-light;
	}
	td {
		border-color: $grey-color-light;
	}
}
/**
 * <fieldset>
 */
fieldset p, fieldset code {
	color: $grey-color;
}
fieldset > div {
	background-color: $background-color-1;
}
legend {
	background-color: #e1f0f0; /* __hardcode__ hsv(180, 6%, 94%) */
}
hr {
	background: -webkit-linear-gradient(
		left,
		transparent,
		rgba(0, 0, 0, 0.5),
		transparent
	      );
	background: linear-gradient(
		to left,
		transparent,
		rgba(0, 0, 0, 0.5),
		transparent
	);
}
footer hr {
	background-color: grey;
}
