@import "commondef";
@import "htmlclass";
/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
fieldset,
%mbp-clean {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
	font-size: $root-font-size;
  font-family: $base-font-family;
}

/**
  * Basic styling
  */
body {
	/* IE9-10 doesn't recognize rem in font shorthand */
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  @include font_400;
  @include set-font-size(1);
  @include set-line-height(1);
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  @include mb_lh_1;
}

/**
  * `main` element
  */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
  * Divider
  */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
}
/**
  * Images
  */
img {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 2px;
  border-radius: 3px;
  max-width: 100%;
  vertical-align: middle;
}

/**
  * Figures
  */
figure > img {
  display: block;
}

/**
  * Lists
  */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  @include mt_lh_1;
  @include font_700;
}
main h1 {
  @include font_900;
  @include font_s_1_8;
}
main {
  h2 {
    @include font_s_1_6;
  }

  h3 {
    @include font_s_1_3;
  }

  h4 {
    @include font_s_1_1;
  }
}

/**
  * Links
  */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
  * Blockquotes
  */
blockquote {
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: $spacing-unit / 2;
  > :last-child {
    @include mb0;
  }
}
blockquote p {
	white-space: pre-line;
}

/**
  * Code formatting
  */
pre,
code,.text-monospace {
font-family: "Source Code Pro", monospace;
  @include set-font-size(0.93);
  @media print {
    white-space: pre-wrap ;
  }
}

code {
  padding: 1px 1px;
}

pre {
  padding: 2px 2px;
  overflow-x: auto;
  border-width: 2px;
  border-style: solid;
  line-height: 1.33;

  > code {
    border: 0;
    padding: 0;
  }
}

/**
  * Tables
  */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
}
th,td {
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem;
}

/**
  * <fieldset>
  */
fieldset p, fieldset code {
  margin: 0;
}
fieldset p {
  display: inline;
}
legend {
  @include font_s_1_2;
}
