@charset "utf-8";

// Define defaults for each variable.

$root-font-size: 16px !default;
$base-font-family: 'Open Sans', sans;
$base-font-size: 1rem !default;
$small-font-size: 0.9rem !default;
$base-line-height: 1.5 !default;
$small-line-height: 1.5 !default;

$spacing-unit: 2rem !default;

$table-text-align: left !default;

// rem unit doesn't make sense in @media width
$on-palm: 600px !default;
$on-laptop: 850px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@function abs-base-font-size($ratio) {
  @return $base-font-size * $ratio;
}

@function abs-small-font-size($ratio) {
  @return $small-font-size * $ratio;
}

@function abs-base-line-height($ratio) {
  @return $base-font-size * $base-line-height * $ratio;
}

@function abs-small-line-height($ratio) {
  @return $small-font-size * $small-line-height * $ratio;
}

@mixin set-font-size($ratio) {
  font-size: abs-small-font-size($ratio);
  @media (min-width: $on-palm) {
    font-size: abs-base-font-size($ratio);
  }
}

@mixin set-font-size-2($ratio1, $ratio2) {
  font-size: abs-small-font-size($ratio1);
  @media (min-width: $on-palm) {
    font-size: abs-base-font-size($ratio2);
  }
}

@mixin set-line-height($ratio) {
  line-height: abs-small-line-height($ratio);
  @media (min-width: $on-palm) {
    line-height: abs-base-line-height($ratio);
  }
}

@mixin inherit-line-height() {
  line-height: inherit;
}

/**
  * Clearfix
  */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
