// Define defaults for each variable.

$root-font-size: 16px !default;
$base-font-family: 'Open Sans', sans;
$base-font-size: 1rem !default;
$small-font-size: 0.93rem !default;
$base-line-height: 1.5 !default;
$small-line-height: 1.5 !default;

$spacing-unit: 2rem !default;

$table-text-align: left !default;

// rem unit doesn't make sense in @media width
$on-palm: 600px !default;
$on-laptop: 850px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@function abs-base-font-size($ratio) {
  @return $base-font-size * $ratio;
}

@function abs-small-font-size($ratio) {
  @return $small-font-size * $ratio;
}

@function abs-base-line-height($ratio) {
  @return $base-font-size * $base-line-height * $ratio;
}

@function abs-small-line-height($ratio) {
  @return $small-font-size * $small-line-height * $ratio;
}

@mixin set-font-size($ratio) {
  font-size: abs-small-font-size($ratio);
  @media (min-width: $on-palm) {
    font-size: abs-base-font-size($ratio);
  }
}

@mixin set-font-size-2($ratio1, $ratio2) {
  font-size: abs-small-font-size($ratio1);
  @media (min-width: $on-palm) {
    font-size: abs-base-font-size($ratio2);
  }
}

@mixin set-line-height($ratio) {
  line-height: abs-small-line-height($ratio);
  @media (min-width: $on-palm) {
    line-height: abs-base-line-height($ratio);
  }
}

@mixin inherit-line-height() {
  line-height: inherit;
}

@mixin b2s {
  border-width: 2px;
  border-style: solid;
}
@mixin b0 {
  border: 0;
}
@mixin p0 {
  padding: 0;
}
@mixin m0 {
  margin: 0;
}
@mixin mp0 {
  @include m0;
  @include p0;
}

@mixin mt0 {
  margin-top: 0;
}
@mixin mb0 {
  margin-bottom: 0;
}

@mixin pl0 {
  padding-left: 0;
}
@mixin pl1 {
  padding-left: $spacing-unit / 2;
}
@mixin pl2 {
  padding-left: $spacing-unit;
}
@mixin pr0 {
  padding-right: 0;
}
@mixin pr1 {
  padding-right: $spacing-unit / 2;
}
@mixin pr2 {
  padding-right: $spacing-unit;
}
@mixin ml0 {
  margin-left: 0;
}
@mixin ml1 {
  margin-left: $spacing-unit / 2;
}
@mixin ml2 {
  margin-left: $spacing-unit;
}
@mixin mr0 {
  margin-right: 0;
}
@mixin mr1 {
  margin-right: $spacing-unit / 2;
}
@mixin mr2 {
  margin-right: $spacing-unit;
}

/**
  * Clearfix
  */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
