@charset "utf-8";

// Define defaults for each variable.

$root-font-size: 17px !default;
$root-small-font-size: 17px !default;
$base-font-family: 'Bitter', sans;
$base-font-size: 1rem !default;
$small-font-size: $base-font-size * 0.9 !default;
$base-line-height: 1.6 !default;
$small-line-height: 1.5 !default;

$spacing-unit: 2rem !default;

$table-text-align: left !default;

// rem unit doesn't make sense in @media width
$on-palm: 600px !default;
$on-laptop: 800px !default;

$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}
