.site-header {
	background-color: #051428; //hsv(0, 100, 33)
}
.site-header-back-to {
	color: wheat; //#F5DEB3 hsv(39, 27, 96)
}
.search-wrapper {
	border-color: white;
}
#search1 {
	color: white;
}
#search1-result {
	background-color: #09252e;
	border-color: lightblue;
}
/**
 * nav Book additions
 */
.nav-book > h2 > a {
	color: $text-color;
}
.home-heading {
	color: lighten($text-color, 15%);
}
.home-sub-heading {
	color: lighten($grey-color-dark, 25%);
}
.post-year {
	color: lighten($text-color, 15%);
}
.post-meta {
	color: lighten($grey-color-dark, 25%);
}
.black-link {
	color: $text-color;
}
/**
 * About Page
 */
.about-page {
	.about-header {
		.about-avatar {
			border: 1px solid $grey-color-dark;
		}
		.about-info {
			.about-description {
				color: lighten($grey-color-dark, 25%);
			}
		}
	}
}
