.site-header {
	background-color: #041020;
}

.search-wrapper {
	border-color: white;
}

#search1 {
	color: white;
}

#search1-result {
	background-color: #071e25;
	border-color: #1f5567;
}

.wrapper main {
	@media screen and (min-width: $on-large) {
		background-color: $background-color-1;
	}
}

#list {
	color: $brand-color;
}
.note.info {
	background-color: #09222a;
}
.note.info b {
	color: #5e9eff;
}
.note.info::before {
	background-color: #5e9eff;
}
.note.warning {
	background-color: #1D1809;
}
.note.warning b {
	color: #d7af37
}
.note.warning::before {
	background-color: #d7af37;
}
.note.error {
	background-color: darkred;
	/*#2e181e;*/
}
.note.error b {
	color: #ff707f
}
.note.error::before {
	background-color: #ff707f;
}

.home-sub-heading {
	color: $grey-color;
}

.post-meta {
	color: $grey-color;
}

.black-link {
	color: $text-color;
}

/**
 * About Page
 */
.about-page {
	.about-header {
		.about-avatar {
			border: 1px solid $grey-color-dark;
		}

		.about-info {
			.about-description {
				color: $grey-color-dark;
			}
		}
	}
}
#MathJax_MenuFrame a {
	color: blue;
}
