/**
 * Site header
 */
.site-header {
  padding: 0.5rem $spacing-unit / 2;
  @media (min-width: $on-large) {
    display: flex;
    align-items: center;
	  padding: 0.5rem $spacing-unit;
  }
}
.site-header-back-to {
  margin-right: 2rem;
}

/**
 * Search Box
 */
.search-wrapper {
  border-style: solid;
  border-width: 2px;
  margin-left: auto;
  font-size: inherit;
  padding: 0;
  background-color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  @media (min-width: $on-large) {
    width: 22rem;
  }
}
#search1 {
  background-color: inherit;
  border: 0;
  padding: 2px 0 2px 2rem;
  font-size: inherit;
  display: inline;
  width: 100%;
  line-height: $small-line-height; /* To make #search1-result `top` predictable */
}
#search1-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0.5rem;
}
#search1-result {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  left: -2px;
  right: -2px;
  margin: 0;
  top: 2rem; /* Fallback */
  top: calc(1.5rem + 8px); /* __hardcode__ $small-line-height * $base-font-size */
  overflow: scroll;
  max-height: 20 * $small-line-height * $base-font-size;
}

/**
 * nav: Table of Contents
 */
.nav-toc ul {
  list-style: none;
}

.nav-toc>ul {
  margin-left: 0px;
}

.nav-toc {
  @media (min-width: $on-large) {
    position: sticky;
    top: -1rem;
    align-self: start;
    max-height: calc(100vh - 2.6rem);
  }
}

.nav-submenu1 {
  margin-top: 1rem;
  margin-left: 0rem;
  font-weight: normal;
}

.nav-item1 {
  font-weight: bold;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit / 1.5;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.page-heading {
  @include relative-font-size(2);
}

.home-heading {
  @media (max-width: $on-medium) {
    margin-top: 20px;
    @include relative-font-size(1.7);
  }

  @include relative-font-size(2.2);
}

.home-sub-heading {
  margin-top: -0.6rem;

  @media (max-width: $on-medium) {
    @include relative-font-size(0.8);
  }

  @include relative-font-size(1);
}

.post-list {
  margin-top: 2.5rem;
  margin-left: 0;
  list-style: none;
}

.post-year {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 700;

  @media (max-width: $on-medium) {
    @include relative-font-size(1.2);
  }

  @include relative-font-size(1.5);
}

.post-meta {
  display: inline-block;
  min-width: 11rem;

  @media (max-width: $on-medium) {
    min-width: 7rem;
    @include relative-font-size(0.8);
  }

  @include relative-font-size(1);
}

.post-link-layout {
  display: inline;
  font-weight: 700;

  @media (max-width: $on-medium) {
    @include relative-font-size(1);
  }

  @include relative-font-size(1.2);
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

/**
 * About Page
 */
.about-page {
  display: inline-block;

  .about-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .about-avatar {
      padding: 1px;
      width: 10rem;
      height: 10rem;
      margin: 0 2rem 0 0;
    }

    .about-info {
      align-self: center;

      .about-your-name {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        @include relative-font-size(1.5);
      }

      .about-description {
        margin-top: -0.6rem;
        @include relative-font-size(1);
      }
    }
  }

  .about-content {
    margin-top: 2rem;
  }
}

.legal-note {
  @include relative-font-size(0.7);
  margin-right: 1rem;
}