@import "commondef";
@mixin set-height($height) {
  height: $height;
}
@mixin set-width($width) {
  width: $width;
}
@mixin set-size($size) {
  @include set-height($size);
  @include set-width($size);
}
@mixin set-height-2($hfull, $hinner) {
  height: $hinner;
  padding-top: ($hfull - $hinner) / 2;
  padding-bottom: ($hfull - $hinner) / 2;
}
@mixin set-width-2($wfull, $winner) {
  width: $winner;
  padding-left: ($wfull - $winner) / 2;
  padding-right: ($wfull - $winner) / 2;
}
@mixin set-size-2($sfull, $sinner) {
  @include set-height-2($sfull, $sinner);
  @include set-width-2($sfull, $sinner);
}

/**
 * Site header
 */
$site-header-height: 3rem !default;
#site-header {
  display: flex;
  align-items: center;
  @include set-height($site-header-height);
  @include pr1;
  @include pl0;
  z-index: 2;
  @media (min-width: $on-laptop) {
    @include pl2;
    @include pr2;
  }
  @media (max-width: ($on-large - 1)) {
    position: sticky;
    top: 0;
  }
  @media print {
    display: none;
  }
}
.site-header-back-to {
  margin-right: 2rem;
}

#list {
  @include set-height($site-header-height);
  @include pr1;
  display: none;
  @media screen and (max-width: ($on-large - 1)) {
    display: block;
  }
}
#list > svg {
  @include set-size-2($site-header-height, $base-font-size * 1.2);
  @media (max-width: ($on-palm - 1)) {
    @include set-size-2($site-header-height, $small-font-size * 1.5);
  }
}
#list-close {
  position: absolute;
  top: 0;
  right: 0;
  @include set-height(2rem);
}
#list-close > svg {
  @include set-size-2(2rem, 1.2rem);
}
#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00000080; /* Sass bug: when using -t compressed, rgba(0, 0, 0, 0.5) becomes #000000 */
}

/**
 * Search Box
 */
#search-wrapper {
  @include p0;
  @include b2s;
  margin-left: auto;
  font-size: inherit;
  background-color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  width: 6rem;
  @media (min-width: $on-palm) {
    width: 10rem;
  }
  @media (min-width: $on-large) {
    width: 25rem;
  }
}
#search1 {
  background-color: inherit;
  @include b0;
  @include m0;
  padding-left: 2rem;
  font-size: inherit;
  display: inline;
  width: 100%;
  line-height: $small-line-height; /* To make #search1-result `top` predictable */
}
#search1-icon {
  @include set-size(1rem);
  position: absolute;
  left: 0.5rem;
}
#search1-result {
  position: absolute;
  @include b2s;
  @include mp0;
  left: -2px;
  right: -2px;
  top: 2rem; /* Fallback */
  top: calc((#{$small-line-height} * #{$base-font-size}) + 8px);
  overflow: scroll;
  max-height: 20 * $small-line-height * $base-font-size;
  z-index: 2;
}

/**
  * Wrapper
  */
#wrapper {
  @extend %clearfix;
  @include ml1;
  @include mr1;
  @media screen and (min-width: $on-laptop) {
    @include ml2;
    @include mr2;
  }
  @media screen and (min-width: $on-large) {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}

/**
  * Main
  */
#wrapper main {
  @media screen and (min-width: $on-large) {
    grid-column: 2/3;
    padding: 0 1rem;
  }
}

/**
 * nav: Table of Contents
 */
#nav-toc ul {
  @include list_none;
}

#nav-toc>ul {
  margin-left: 0px;
}

#nav-toc {
  overflow: auto;
  @media screen and (min-width: $on-large) {
    @include pr1;
    grid-column: 1/2;
    position: sticky;
    top: -1rem;
    align-self: start;
    max-height: calc(100vh - 2.6rem);
  }
  @media screen and (max-width: ($on-large - 1)) {
    display: none;
  }
}

.nav-submenu1 {
  @include mt_lh_1;
  @include ml0;
  @include font_400;
}

.nav-item1 {
  @include font_700;
}

/**
 * Site footer
 */
.site-footer {
  @include pl1;
  @include pr1;
  @media (min-width: $on-palm) {
    @include pl2;
    @include pr2;
  }
  padding-bottom: $spacing-unit;
}
.post-meta {
  min-width: 11rem;
  @media (max-width: $on-palm) {
    min-width: 7rem;
  }
}
.post-link-layout {
  @include set-font-size-2(1.1, 1.2);
  @include set-line-height(1);
}
/**
* Notes
*/
.note {
  margin-top: 1rem;
  margin-bottom: 1rem;
  contain: content;
  position: relative; 
  padding: 0.5rem;
}
.note p {
  @include m0;
  display: inline-block;
}
.note b, .note p {
  padding-right: 1rem
}
.note:before {
  @include set-size($small-font-size);
  top: ($small-font-size * $small-line-height - $small-font-size) / 2;
  @media screen and (min-width: $on-palm) {
    @include set-size($base-font-size);
    top: ($base-font-size * $base-line-height - $base-font-size) / 2;
  }
  content: "";
  float: left;
  position: relative;
  margin-right: 0.5rem
}

.legal-note {
  @include set-font-size(0.7);
  margin-right: 1rem;
}

.li-post {
  @include mb-lh-1;
  > p {
    @include ti0;
  }
}
