/**
 * Site header
 */
.site-header {
	padding-left: 2rem;
}
.site-header-back-to {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-right: 2rem;
	display: inline-block;
}

/**
 * Aside: Table of Contents
 */
.aside-toc {
	position: sticky;
}
.aside-toc ul {
	list-style: none;
}
.aside-toc > ul {
  margin-left: 0px;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit / 1.5;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.page-heading {
  @include relative-font-size(2);
}

.home-heading {
  @media (max-width: $on-medium) {
    margin-top: 20px;
    @include relative-font-size(1.7);
  }

  @include relative-font-size(2.2);
}

.home-sub-heading {
  margin-top: -0.6rem;

  @media (max-width: $on-medium) {
    @include relative-font-size(0.8);
  }

  @include relative-font-size(1);
}

.post-list {
  margin-top: 2.5rem;
  margin-left: 0;
  list-style: none;
}

.post-year {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 700;

  @media (max-width: $on-medium) {
    @include relative-font-size(1.2);
  }

  @include relative-font-size(1.5);
}

.post-meta {
  display: inline-block;
  min-width: 6.5rem;

  @media (max-width: $on-medium) {
    @include relative-font-size(0.8);
  }

  @include relative-font-size(1);
}

.post-link-layout {
  margin-left: 10%;
  display: inline;
  font-weight: 700;

  @media (max-width: $on-medium) {
    @include relative-font-size(1);
  }

  @include relative-font-size(1.2);
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

/**
 * About Page
 */
.about-page {
  display: inline-block;

  .about-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .about-avatar {
      padding: 1px;
      width: 10rem;
      height: 10rem;
      margin: 0 2rem 0 0;
    }

    .about-info {
      align-self: center;

      .about-your-name {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        @include relative-font-size(1.5);
      }

      .about-description {
        margin-top: -0.6rem;
        @include relative-font-size(1);
      }
    }
  }

  .about-content {
    margin-top: 2rem;
  }
}
.legal-note {
	@include relative-font-size(0.7)
}
