.site-header {
	background-color: darkred; //#8b0000 hsv(0, 100, 55)
}
.site-header-back-to {
	color: wheat; //#F5DEB3 hsv(39, 27, 96)
}
/**
 * Aside Book additions
 */
.aside-book > h2 > a {
	color: $text-color;
}
.home-heading {
	color: lighten($text-color, 15%);
}
.home-sub-heading {
	color: lighten($text-color, 25%);
}
.post-year {
	color: lighten($text-color, 15%);
}
.post-meta {
	color: lighten($text-color, 25%);
}
.black-link {
	color: $text-color;
}
/**
 * About Page
 */
.about-page {
	.about-header {
		.about-avatar {
			border: 1px solid $grey-color-light;
		}
		.about-info {
			.about-description {
				color: lighten($text-color, 25%);
			}
		}
	}
}
