.site-header {
	background-color: aliceblue; //#f0f8ff hsv(208, 6, 100)
}

.search-wrapper {
	border-color: black;
}

#search1-result {
	background-color: azure;
	border-color: blue;
}

.wrapper main {
	@media screen and (min-width: $on-large) {
		background-color: $background-color-1;
	}
}

#list {
	color: $brand-color;
}
.note.info {
	background-color: #e5f3fe;
}
.note.info b {
	color: #0085f2;
}
.note.info::before {
	background-color: #0085f2;
}
.note.warning {
	background-color: #fdf8ea;
}
.note.warning b {
	color: #ff2a51
}
.note.warning::before {
	background-color: #ff2a51;
}
.note.error {
	background-color: pink;
	/*#fbe5eb;*/
}
.note.error b {
	color: #d30038;
}
.note.error::before {
	background-color: #d30038;
}

.home-sub-heading {
	color: $grey-color;
}

.post-meta {
	color: $grey-color;
}

.black-link {
	color: $text-color;
}

/**
 * About Page
 */
.about-page {
	.about-header {
		.about-avatar {
			border: 1px solid $grey-color-light;
		}

		.about-info {
			.about-description {
				color: lighten($text-color, 25%);
			}
		}
	}
}
#MathJax_MenuFrame a {
	color: blue;
}
