<header class="site-header">
	<div id="list"><svg fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path></svg></div>
	<a class="site-header-back-to" href="/"> {{site.moving.back_to}} </a>
	<a class="site-header-back-to" href="/tool/preferences.html">Site Preferences</a>
	<div class="search-wrapper" style="display: none;">
		<input id="search1" type="text" placeholder="Search not ready" />
		<svg id="search1-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
		</svg>
		<ul id="search1-result"></ul>
	</div>
</header>
