// Dark Mode
$text-color: #ddd !default;
$background-color: #111 !default;

$brand-color: #ff7b7b !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

@import "moving/commondef";
.dark {
@import "moving/base-dark";
@import "moving/layout-dark";
@import "rouge-dark"
}