// Dark Mode
$text-color: #ddd !default;
$background-color: #111 !default;

$brand-color: wheat !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

@import "moving/commondef";
html.dark { /* html is not a descend child of .dark */
        color-scheme: dark;
        background-color: black; /* Needed for overflows */
}
.dark {
@import "moving/base-dark";
@import "moving/layout-dark";
@import "rouge-dark";
}