// Light mode
$text-color: #111 !default;
$background-color: #fafafa !default;
$brand-color: #8b0000 !default; // anchor color

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

@import "moving/commondef";
html {
	color-scheme: light;
	background-color: white; /* Needed for overflows */
}
@import "moving/base-light";
@import "moving/layout-light";
@import "rouge"
