// Dark Mode
$text-color: #ddd !default;
$background-color: #111 !default;
// Previously use #9a9af9 which has higher contrast (7.5:1) but less attractive
$brand-color: #bf4dbf !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$orange-color: #f66a0a !default;
