$primary: #4d4d4c;
$secondary: #4271ae;
$background: #ffffff;
$lineno-background: #e5e5e5; /* or ffffff */
$selected: #d6d6d6;
$operator: #3e999f;
$keyword: #8959a8;
$namespace: #eab700;
$comment: #8e908c;
$scoped: #c82829;
$numeric: #f5871f;
$string: #718c00;
@import "rouge-template";
