$background: #111;
$selected: #000000;
$primary: #ffffff;
$secondary: #ffffff;
$operator: #3399cc;
$keyword: #ffc0cb;
$namespace: #00cd00;
$comment: #c6c;
$scoped: #8080bf;
$numeric: #ff40ff;
$string: #ffb22e;
$error: #ff0000;
$warning: #ffff80;
@import "rouge-template-v2";
