$primary: #cccccc;
$secondary: #cccccc;
$background: #000000;
$lineno-background: #191919;
$selected: #424242;
$operator: #cccccc;
$keyword: #cdcd00;
$namespace: #00cdcd;
$comment: #808000;
$scoped: #00cdcd;
$numeric: #cd00cd;
$string: #cd0000;
@import "rouge-template";
