$background: #000000;
$selected: #000000;
$primary: #ffffff;
$secondary: #ffffff;
$operator: #3399cc;
$keyword: #ffc0cb;
$namespace: #00cd00;
$comment: #9966cc; //hsv(270, 50%, 100%), cater to purple accent color
$scoped: #8080bf;
$numeric: #cd00cd;
$string: #eb0000;
$error: #ff0000;
$warning: #ffff80;
@import "rouge-template-v2";
