---
layout: default
---
<div class="post-back">
  <a class="black-link" href="{{ site.url | relative_url }}">
    ← {{ site.moving.back_to }}
  </a>
</div>
<h2>Category: {{ page.category }}</h2>
<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <span class="post-meta"> {{ post.date | date_to_string }} </span>
        <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>
