<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
	{% assign realpath = page.url | default: post.url | default: "" %}
	{% capture rootdir %}{% include rootdir.txt path=realpath %}{% endcapture %}
	{%- include head.html rootdir=rootdir -%}
    <body>
	{%- include header.html rootdir=rootdir -%}
	<label id="overlay" style="visibility: hidden;"></label>
        <div class="wrapper" lang="{{ page.lang | default: site.lang | default: "en" }}">
		<nav class="nav-toc">
			<div id="list-close" display="none"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
				<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
			</svg></div>
			<h2>Table of Contents</h2>
			{%- include toc.html html=content item_class='nav-item%level%' submenu_class='nav-submenu%level%' -%}
		</nav>
		<main class="main-content" lang="{{ page.lang | default: site.lang | default: "en" }}">
			{{- content -}}
			<hr/>
			<h2 id="comments">Comments</h2>
			<noscript>Comments require JavaScript to work. </noscript>
			<div id="comments-ref" class="giscus"></div>
		</main>
        </div>
        {%- include footer.html rootdir=rootdir -%}
    </body>
</html>
