<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% assign realpath = page.url | default: post.url | default: "" %}
	{% capture rootdir %}{% include rootdir.txt path=realpath %}{% endcapture %}
	{%- include head.html rootdir=rootdir -%}
    <body>
	{%- include header.html rootdir=rootdir -%}
	<label id="overlay" style="visibility: hidden;"></label>
        <div class="wrapper">
		<nav class="nav-toc">
			<h2>Table of Contents</h2>
			{%- include toc.html html=content item_class='nav-item%level%' submenu_class='nav-submenu%level%' -%}
		</nav>
		<main class="main-content">
			{{- content -}}
		</main>
        </div>
        {%- include footer.html rootdir=rootdir -%}
    </body>
</html>
