---
layout: default
---
<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
    <h1 id="{{ page.title | slugify }}" class="post-title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
{% if page.date %}
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
{% endif %}
{% if page.last_modified_at %}
{% if page.date %}—{% endif %} Updated 
	<time class="dt-modifiled" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
	{%- assign date_format = "%b %-d, %Y" -%}
	{{ page.last_modified_at | date: date_format }}
	</time>
{% endif %}
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author" itemprop="name">{{
          page.author | escape
        }}</span></span
      >
      {%- endif -%}
    </p>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <data class="u-url" href="{{ page.url | relative_url }}" hidden></data>
</article>
